# Default catch-all — redirect to main domain
server {
listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;

    access_log /var/log/nginx/default_access.log;
    error_log /var/log/nginx/default_error.log;

    return 301 http://{{ nginx_sites[0].server_name }}$request_uri;
}
